footer {
    display: flex;
    position: relative;
    z-index: 10;
    background-color: rgba(37, 24, 24, 0.966);
    color: aliceblue;
    font-family: "Inter", sans-serif;
    padding: 20px 20px;
    width: 100%;
    height: auto;
    max-height: 70px;

    box-shadow: 8px 1px 8px rgba(14, 17, 34, 0.93);;

    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 52px;

    transition: transform 0.3s ease-in-out;

    cursor: url('/Img/icon/pointer.png'), pointer;
}

.footer-logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.description {
    display: flex;
    position: relative;
    align-items: center;
    font-family: "Libertinus Math", system-ui;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .foot-row p {
        text-align: center;
    }

    .foot-row {
        height: 80px;
    }

    .me{
        font-size: 13px;
    }
}